.div_parent {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  aspect-ratio: 1/1;
  margin: auto;
  border: 1px solid red;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.button_properties {
  width: 100%;
  background-color: #24ad98;
  color: white;
  font-weight: 800;
  padding: 20px 40px;
}

@media (min-width: 768px) {
  .div_parent {
    width: 640px;
  }
  .button_properties {
    width: auto;
  }
}

@media (hover: hover) {
  .button_properties:hover {
    color: #24ad98;
    background-color: white;
  }
}
